@value md from "/app/theme/breakpoints.css";
@value filtersWidthDesktop from '/app/theme/spacing.css';

.main {
  margin-left: 0;
  min-height: auto;
  height: auto;
}

@media md {
  .main {
    margin-left: filtersWidthDesktop;
    min-height: 3000px;
  }
}
