.menu-icon {
  display: none !important;
  position: fixed;
  right: 16px;
  top: 16px;
  line-height: 38px;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block !important;
  }
}
