@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
ul li {
  list-style: none;
  padding: 0;
  float: left;
  margin-right: 24px;
}

ul li:last-child {
  margin-right: 0;
}

ul li a,
ul li a:link,
ul li a:visited {
  color: #df704b;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: none;
}

a,
a:visited,
a:link,
a:hover {
  text-decoration: none;
  color: #df704b !important;
}

.main-container {
  margin-left: 200px;
}

.brands {
  padding: 16px;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  grid-auto-rows: minmax(100px, auto);
}

@media only screen and (max-width: 1280px) {
  .brands {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .brands {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    margin-left: 0;
  }
  .brands {
    display: block;
    padding: 0;
  }
  .brands__brand {
    padding: 8px 0;
    margin: 8px 0;
  }
}

.badge.📦txt-trns_uppercase {
  text-transform: lowercase;
}
