@import url('https://fonts.googleapis.com/css?family=Satisfy|Caveat&display=swap');
ul li {
    list-style: none;
    padding: 0;
    float: left;
    margin-right: 16px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a, ul li a:link, ul li a:visited {
    color: #425A70;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
}

.filters-container {
    float: left;
    width: 200px;
    text-align: left;
    padding: 30px;
}

.brands-container {
    padding: 12px;
    margin-left: 200px;
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    grid-auto-rows: minmax(100px, auto);
}